.screen {
    display:none;
}
.patients-list {
    display:block;
}
.page-content {
    width: 95%;
}
.radio-check-content {
    margin-top: 7px;
}
.txt-left {
    text-align: left !important;
}

.red-border {
    border-color:red;
}